<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    .head-row{
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
    }
    p{
        background-color: color(srgb red green blue);
        height: 200px;
        width: 200px;
        display: flex;
    
    }
</style>
</head>
<body>
    <div class="head-row">
        {% for x in range (0,num):%}
            <p>{{background-color: color}}</p>
        {%endfor%}

    </div>
</body>
</html>