<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    .head-row{
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    p{
        background-color: red;
        height: 200px;
        width: 200px;
    
    
    }
</style>
</head>
<body>
    <div class="head-row">
        {% for x in range (0,num):%}
            <p class="color-back" style="background-color: {{color}};"></p>
            <!-- #when using jinja syntax that connect back to server file we want 
            to place double brackets around teh variable  -->
            
            <!-- # for inline styling we state the attribute which is background-color 
            then we state the attributes value which is "color" -->
        {%endfor%}

    </div>
</body>
</html>